<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/main">
<head>
<title>Próba alkalmazás</title>
</head>
<body>

	<div layout:fragment="loginContent">
		<div class="loginclass">
			<form name="login" th:action="@{/login}" method="post" class="form-signin">
				<h2 class="form-signin-heading" th:text="#{loginHeader}">Kérlek jelentkezz be!</h2>
				
				<div id="err" th:if="${param.error}" class="alert alert-danger" th:text="#{loginParamError}">Hibás felhasználónév vagy jelszó!</div>
				<div th:if="${param.logout}" class="alert alert-success" th:text="#{loginParamLogout}">Sikeresen kijelentkeztél!</div>			
				<div th:if="${registrationSuccessful != null}" class="alert alert-success" th:text="#{loginRegistrationSuccessful}"> Sikeres regisztráció! </div>	
				<div th:if="${activationSuccessful != null}" class="alert alert-success" th:text="#{loginActivationSuccessful}"> Sikeres aktiváció! </div>	
				    
				<input type="text" id="username" name="username" class="form-control" th:placeholder="#{loginUsername}" required="true" /> 
				<input type="password" id="password" name="password" class="form-control" th:placeholder="#{loginPassword}" required="true" />
				
				<div class="checkbox">
					<input id="remember-me" name="remember-me" type="checkbox" th:text="#{loginRememberMe}"/>
				</div>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{loginLogin}">Bejelentkezés</button>
				<a href="/registration" th:text="#{loginRegistration}">Regisztrálni szeretnék</a> <br/>
				<a href="/forgot" th:text="#{loginForgotPassword}">Elfelejtettem a jelszavamat</a>
			</form>
			

		</div>
	</div>

</body>
</html>