<!DOCTYPE html>
<html lang="hu"	layout:decorator="layouts/main">
<head>
	<title>Próba alkalmazás</title>
</head>
<body>
		
	<div layout:fragment="loginContent">
	
		<div class="container text-center">    
	  		<h3>Válaszd ki milyen gyakorlatokat szeretnél</h3><br/>
	  		
			<div class="row">
			    <div class="col-sm-4">
			      <img src="../img/mell.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Mellizom</p>
			    </div>
			    <div class="col-sm-4"> 
			      <img src="../img/hat.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Hátizom</p>    
			    </div>
		        <div class="col-sm-4"> 
			      <img src="../img/vall.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Vállizom</p>    
			    </div>
			</div>
			
			<div class="row">
			    <div class="col-sm-4">
			      <img src="../img/comb.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Combizmok</p>
			    </div>
			    <div class="col-sm-4"> 
			      <img src="../img/bicepsz.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Bicepsz</p>    
			    </div>
		        <div class="col-sm-4"> 
			      <img src="../img/tricepsz.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Tricepsz</p>    
			    </div>
			</div>
			
			<div class="row">
			    <div class="col-sm-4">
			      <img src="../img/has.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Hasizom</p>
			    </div>
			    <div class="col-sm-4"> 
			      <img src="../img/vadli.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Vádli</p>    
			    </div>
		        <div class="col-sm-4"> 
			      <img src="../img/alkar.jpg" class="img-responsive" style="width:100%" alt="Image"></img>
			      <p>Alkar</p>    
			    </div>
			</div>
			
		</div>

	</div>
		
</body>
</html>