<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title>Próba alkalmazás</title>
</head>
<body>

	<div layout:fragment="loginContent">

		<div class="container text-center">
			<h3>Válaszd ki milyen gyakorlatokat szeretnél</h3>
			<br />
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4" th:each="exercise : ${exercises}">
					
					<div class="card h-100">
						<a th:href="@{'/exercise/'+${exercise.muscle.url}+'/'+${exercise.url} }">
							<img class="card-img-top img-responsive" th:src="${exercise.exerciseImage}" height="250" width="100" />
						</a>
						
						<div class="card-body">
							<h4 class="card-title">
								
							</h4>
						</div>
						<div class="card-footer">
							<a th:text="${exercise.exerciseName}">Neve</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>