<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
<title>Próba alkalmazás</title>
</head>
<body>

	<div layout:fragment="loginContent">

		<div class="container text-left" th:each="exercise : ${exercises}">
			<h2 class="text-center" th:text="${exercise.exerciseName}">gyakorlat</h2>
			<br/>

			<div class="exerciseDetailsImg">
				<img class="card-img-top img-responsive" th:src="${exercise.exerciseImage}" height="250" width="100" />					
			</div>

			<h4>Hatás:</h4>
			<p th:text="${exercise.effect}"></p>
			
			<h4>Kiinduló pozíció:</h4>
			<p th:text="${exercise.initialPosition}"></p>
			
			<h4>Mozdulat:</h4>
			<p th:text="${exercise.motion}"></p>
			
			<h4>Tipp:</h4>
			<p th:text="${exercise.trainingTip}"></p>
				
		</div>

	</div>

</body>
</html>