<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorator="layouts/main">
<head>
<title>Próba alkalmazás</title>
</head>
<body>

	<div layout:fragment="loginContent">

		<form name="forgot" th:action="@{/resendPWD}" th:object="${user}" method="post" class="form-signin">
			<h4 class="form-signin-heading">Kérlek add meg az e-mail címedet egy új jelszóért!</h4>
				<input type="text" id="email" name="email" th:field="*{userProfile.email}" class="form-control" placeholder="*Email" required="true" 
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Tartsd be az email formátumát!" />
			    
			<button class="btn btn-lg btn-primary btn-block" type="submit">Jelszó módosítás</button>
		</form>

	</div>

</body>
</html>