<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorator="layouts/main">
<head>
<title>Próba alkalmazás</title>
</head>
<body>

	<div layout:fragment="loginContent">
		
		<form class="form-resetpassword" method="post" class="form-signin">
		
			<h2 class="form-signin-heading" th:text="#{resetPasswordHeader}">Add meg az új jelszavad!</h2>
		    
		    <input name="password" type="password" id="password" class="form-control" 
		    th:placeholder="#{password}" required="true" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
		    th:title="#{registrationPasswordCriterium}" />
		
		    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{resetPasswordModify}">Módosítás</button>
		    
		    <input
		    type="hidden"
		    th:name="${_csrf.parameterName}"
		    th:value="${_csrf.token}" />
		    
		</form>

	</div>

</body>
</html>